{
	"useTabs": true,
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 80,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-classnames",
		"prettier-plugin-merge"
	],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/styles/global.css"
}