---
import ThemedSeparator from "$ui/ThemedSeparator.astro";
import Menu from "$components/menu/Menu.astro";
import DualNav from "$components/DualNav.astro";

type Link = { path: string; title: string };
interface Props {
	homepage?: boolean;
	previous?: Link;
	next?: Link;
}
let { homepage, previous, next } = Astro.props;

const startEl: Link | undefined = homepage
	? { path: "/", title: "Go back to the home page" }
	: previous;
const endEl: Link | undefined = next;
---

<header class="flex w-full flex-col gap-[12px]">
	<DualNav {startEl} {endEl} />
	<ThemedSeparator />
	<div class="mt-1 flex w-full items-center justify-end">
		<Menu />
	</div>
</header>
