.carta-theme__default {
	&.carta-editor {
		border: 0;
	}
	.carta-wrapper {
		padding: 0;
	}
	.carta-input,
	.carta-renderer {
		overflow-y: unset;
		height: auto;
	}
	.carta-toolbar {
		position: sticky;
		top: 0px;
		z-index: 10;
		background-color: var(--bg);
	}
	.carta-toolbar-left button {
		padding-bottom: 0;
		border: 0;

		&.carta-active {
			border: 0;
		}
	}
}
