---
import MenuLink from "./MenuLink.astro";
import CloseMenuButton from "./CloseMenuButton.astro";
import PushNotificationsSwitch from "./PushNotificationsSwitch.svelte";
---

<script>
	function onLoad() {
		const openMenuButton = document.querySelector(
			"button#blog-hloth-dev-menu-open",
		);
		if (openMenuButton instanceof HTMLButtonElement) {
			openMenuButton.addEventListener("click", () => {
				const dialog = document.querySelector("dialog#blog-hloth-dev-menu");
				if (dialog instanceof HTMLDialogElement) {
					dialog.showModal();
				}
			});
		}
	}

	document.addEventListener("astro:page-load", onLoad);
	document.addEventListener("load", onLoad);
	onLoad();
</script>

<button
	class="inline-block w-[84px] cursor-pointer rounded-full bg-black py-[3px]
		text-center text-[14px] font-medium tracking-[-.03em] text-white
		dark:bg-white dark:text-black"
	command="show-modal"
	commandfor="blog-hloth-dev-menu"
	id="blog-hloth-dev-menu-open"
>
	Menu
</button>
<dialog
	class="fixed top-0 z-[100] ml-auto flex max-h-[100dvh] max-w-screen bg-black
		py-8 text-4xl font-bold text-white transition-[width] duration-500
		ease-in-out will-change-[width]"
	closedby="any"
	id="blog-hloth-dev-menu"
>
	<div class="flex min-h-0 w-full min-w-0 flex-col overflow-clip">
		<CloseMenuButton />
		<div class="flex w-96 flex-1 flex-col">
			<MenuLink label="About Me" href="https://hloth.dev/me" />
			<MenuLink label="My Portfolio" href="https://hloth.dev/" />
			<div class="mt-auto w-full px-8">
				<PushNotificationsSwitch client:idle />
			</div>
			<div
				class="mt-4 flex flex-wrap items-center justify-between gap-2 px-8
					text-sm leading-none text-[#a3a3a3] dark:text-[#4b5563]"
			>
				<span class="font-medium">Contact me:</span>
				<span class="font-normal">hi@hloth.dev</span>
			</div>
		</div>
	</div>
</dialog>

<style lang="postcss">
	@reference "tailwindcss";

	dialog {
		height: 100vh;
		width: 0;
		visibility: hidden;
		transition:
			width 500ms cubic-bezier(0.16, 1, 0.3, 1),
			visibility 500ms ease-in-out,
			display 500ms ease-in-out allow-discrete,
			overlay 500ms ease-in-out allow-discrete;

		background-color: #000000;
		background:
			radial-gradient(
				circle,
				transparent 20%,
				#000000 20%,
				#000000 80%,
				transparent 80%,
				transparent
			),
			radial-gradient(
					circle,
					transparent 20%,
					#000000 20%,
					#000000 80%,
					transparent 80%,
					transparent
				)
				10px 10px,
			linear-gradient(#2b2b2b 0.8px, transparent 0.8px) 0 -0.4px,
			linear-gradient(90deg, #2b2b2b 0.8px, #000000 0.8px) -0.4px 0;
		background-size:
			20px 20px,
			20px 20px,
			10px 10px,
			10px 10px;
	}

	dialog[open] {
		visibility: visible;
		width: calc(var(--spacing) * 96);
	}

	@starting-style {
		dialog[open] {
			width: 0;
		}
	}

	dialog::backdrop {
		height: 100%;
		backdrop-filter: blur(var(--blur));
		transition: --blur 500ms cubic-bezier(0.16, 1, 0.3, 1);
		--blur: 0px;
	}

	dialog[open]::backdrop {
		--blur: 20px;
	}

	@starting-style {
		dialog[open]::backdrop {
			--blur: 0px;
		}
	}

	dialog[open] :global(.arrow-line) {
		@apply w-0 transition-[width] duration-200 group-focus-visible:w-full pointer-fine:group-hover:w-full;
	}

	dialog:not([open]) :global(.arrow-line) {
		@apply w-full min-w-0;
	}
</style>
