---
import Emoji from "$emoji";
import type { EmojiCode } from "$lib/emojis";

type Props = (
	| {
			emoji: string;
	  }
	| {
			icon: EmojiCode;
	  }
) & { children: astroHTML.JSX.Child };

let props = Astro.props;
---

<div
	class="flex items-start gap-2 rounded-[10px] bg-cream-alt dark:bg-golden-creamy text-[var(--text)] dark:text-white p-3 my-4"
>
	{
		"emoji" in props ? (
			<span class="flex min-w-6 shrink-0 items-center justify-center pt-1 text-base">
				{props.emoji}
			</span>
		) : (
			"icon" in props && (
				<span class="mt-1">
					<Emoji code={props.icon} width={24} height={24} />
				</span>
			)
		)
	}
	<div
		class="callout-content min-w-0 flex-1 px-0.5 pt-[5px] pb-[3px] break-words"
	>
		<slot />
	</div>
</div>

<style>
	.callout-content {
		p:first-child {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
</style>
