<div
	class="full-bleed w-[100cqw] overflow-x-auto overflow-y-hidden flex carousel-items gap-6"
>
	<slot />
</div>

<style>
	.full-bleed {
		--full-bleed-padding: max(var(--m), 50cqw - var(--w) / 2);
		padding-inline: var(--full-bleed-padding);
		/* padding-inline-end: min(50cqw, calc(var(--m) + var(--w))); */
		scrollbar-width: thin;
	}

	.full-bleed.carousel-items {
		scroll-snap-type: x mandatory;
		scroll-padding-inline: var(--full-bleed-padding);
		scroll-snap-stop: always;
	}
	.full-bleed.carousel-items > :global(*) {
		scroll-snap-align: start;
		flex: none;
		height: 100%;
		margin: 0;
	}
	.full-bleed.carousel-items > :global(figure > *:first-child) {
		min-height: 0;
	}
	.full-bleed.carousel-items > :global(figure picture img),
	.full-bleed.carousel-items :global(.img-container) {
		max-width: var(--content-width);
		max-height: 500px;
	}
	.full-bleed.carousel-items :global(.img-container.wide) {
		width: var(--content-width);
	}
	.full-bleed.carousel-items :global(.img-container.landscape) {
		/* width: var(--content-width); */
	}
	.full-bleed.carousel-items :global(.img-container.portrait) {
		height: 500px;
	}
	.full-bleed.carousel-items > :global(*:last-child) {
		--full-bleed-width: calc(100cqw - calc(var(--full-bleed-padding) * 2));
		--item-width: calc(500px * var(--aspect-ratio));
		padding-right: calc(var(--full-bleed-width) - var(--item-width));
	}
</style>
