---
/**
 * Example usage:
 *
 * <Embed url="https://www.youtube.com/embed/dQw4w9WgXcQ">Caption</Embed>
 * <Embed url="https://example.org" service="Example" ar={16/9} />
 */

import IsolatedIframe from "$ui/IsolatedIframe.svelte";

interface Props {
	url: string;
	service?: string;
	ar?: number;
}

let { url, service: serviceVar, ar = 16 / 9 } = Astro.props;

let service = serviceVar;
if (!service) {
	const serviceUrl = new URL(url);
	if (
		serviceUrl.hostname === "www.youtube.com" ||
		serviceUrl.hostname === "youtube.com" ||
		serviceUrl.hostname === "www.youtube-nocookie.com" ||
		serviceUrl.hostname === "youtube-nocookie.com" ||
		serviceUrl.hostname === "youtu.be"
	) {
		service = "YouTube";
		if (!serviceUrl.hostname.includes("youtube-nocookie.com")) {
			serviceUrl.hostname = "www.youtube-nocookie.com";
			serviceUrl.searchParams.delete("si");
			url = serviceUrl.toString();
		}
	} else if (
		serviceUrl.hostname === "twitter.com" ||
		serviceUrl.hostname === "www.twitter.com" ||
		serviceUrl.hostname === "x.com" ||
		serviceUrl.hostname === "www.x.com"
	) {
		service = "Twitter";
	} else {
		throw new Error("Service argument must be provided for this URL");
	}
}
---

<!-- {
	service === "YouTube" ? (
		<div>
			<button />
		</div>
	) : ( -->
<IsolatedIframe
	{url}
	aspectRatio={ar}
	name={service}
	client:visible
	referrer={service === "YouTube"}
>
	<slot />
</IsolatedIframe>
<!-- )
} -->
