---
/**
 * Example usage:
 *
 * import testImage from "./test.png";
 *
 * <Image src={testImage} alt="123">
 *   Caption
 * </Image>
 */

import LazyImage from "$ui/LazyImage.astro";
import ForcedAlt from "./ForcedImgAlt.astro";
import type { Picture } from "astro:assets";
import type { ComponentProps } from "astro/types";
import type { ImageMetadata } from "astro";

type Props = Pick<
	ComponentProps<typeof Picture>,
	"class" | "height" | "alt" | "children" | "width"
> & {
	background?: boolean;
	forceAlt?: boolean;
	// border?: boolean;
	src: ImageMetadata;
};

const { background, ...props } = Astro.props;

if (props.forceAlt && !background) {
	throw new Error("Background prop is required when forceAlt is true");
}

const aspectRatio = props.src.width / props.src.height;
---

<figure style={`--aspect-ratio: ${aspectRatio}`}>
	<div
		class:list={[
			`flex w-full items-center justify-center
			in-[.carousel-items]:justify-start in-[.full-bleed]:w-auto
			in-[.full-bleed]:flex-1`,
			{
				// border,
				[`img-with-background flex h-fit flex-col items-center justify-center
				overflow-clip rounded-3xl bg-white p-4 xsm:flex-row dark:bg-black-alt`]:
					background,
			},
		]}
	>
		<LazyImage
			width={background
				? Math.min(500 * aspectRatio, 680)
				: props.src.width !== undefined
					? Math.min(props.src.width, 680)
					: undefined}
			height={background ? 500 : props.height}
			class={props.class ?? (background ? "" : undefined)}
			zoomable
			{...props}
		/>
		{
			background && props.forceAlt && props.alt !== null && (
				<ForcedAlt alt={props.alt} />
			)
		}
		<!-- sizes={background ? undefined : "(max-width: 728px) 100vw, 680px"} -->
	</div>
	{
		Astro.slots.default && (
			<figcaption
				style={`--max-width-px: ${Math.min(500 * aspectRatio, 680) + "px"}; --max-width: ${background || aspectRatio < 1 ? "100%" : "var(--max-width-px)"};`}
			>
				<slot />
			</figcaption>
		)
	}
</figure>

<style>
	figcaption {
		flex-shrink: 0;
		max-width: var(--max-width);
	}
</style>
