@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'hloth blog text', sans-serif;
  text-rendering: geometricPrecision;
  letter-spacing: -.03em;
}

html {
  --bg: var(--cream);
  --text: #000000;
  --bg-alt: var(--cream-alt);
  --theme-switch-day: #000000;
  --theme-switch-night: #2c4ebe;
  --theme-switch-night-alt: #293760;
  --menu-bg: #000000;
  --text-inverted: #ffffff;
  --text-inverted-alt: #2f2f2f;
  --text-alt: #121212;
  --text-gray: #4b5563;
  --text-gray: #a3a3a3;
}

html[data-theme='dark'] {
  --bg: #000000;
  --text: var(--sandy);
  --bg-alt: var(--black-alt);
  --theme-switch-day: var(--sandy);
  --theme-switch-night: #7f7445;
  --theme-switch-night-alt: #978d62;
  --menu-bg: #ffffff;
  --text-inverted: #000000;
  --text-inverted-alt: #a18d69;
  --text-alt: var(--sandy-alt);
  --text-gray: #4b5563;
}

:root {
  --cream: #f3f1e6;
  --sandy: #d5c18e;
  --sandy-alt: #a89870;
  --cream-alt: #e0d9c9;
  --black-alt: #333333;
}

.headline {
  width: 100% !important;

  path {
    fill: var(--text);
  }
}

.theme-switch-bg {
  $smoothness: 2.5%;
  background: linear-gradient(
    to right,
    var(--theme-switch-night),
    var(--theme-switch-night) calc(8% - $smoothness/2),
    var(--theme-switch-day) calc(8% + $smoothness/2),
    var(--theme-switch-day) calc(25% - $smoothness/2),
    var(--theme-switch-night) calc(25% + $smoothness/2),
    var(--theme-switch-night) calc(33.33% - $smoothness/2),
    var(--theme-switch-day) calc(33.33% + $smoothness/2),
    var(--theme-switch-day) calc(50% - $smoothness/2),
    var(--theme-switch-night) calc(50% + $smoothness/2),
  );
  background-size: 400% 100%;
}

.theme-switch-bg-open {
  $smoothness: 5%;
  background: linear-gradient(
    to right,
    var(--theme-switch-night-alt),
    var(--theme-switch-night-alt) calc(8% - $smoothness/2),
    var(--theme-switch-day) calc(8% + $smoothness/2),
    var(--theme-switch-day) calc(25% - $smoothness/2),
    var(--theme-switch-night-alt) calc(25% + $smoothness/2),
    var(--theme-switch-night-alt) calc(33.33% - $smoothness/2),
    var(--theme-switch-day) calc(33.33% + $smoothness/2),
    var(--theme-switch-day) calc(50% - $smoothness/2),
    var(--theme-switch-night-alt) calc(50% + $smoothness/2),
  );
  background-size: 400% 100%;
}

body.no-overscroll {
  overscroll-behavior-y: none;
}

.bg-placeholder {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: calc(640px - 80px) !important;
}

.cdx-block {
  max-width: 640px !important;
}

.ce-inline-toolbar {
  color: #000000;
}

.ce-inline-toolbar__actions input {
  background: #ffffff;
  color: #000000;
}

.menu-open {
  overflow: hidden;
}

.transition-blur {
  backdrop-filter: blur(var(--blur));
  transition: --blur 500ms linear;
}

@property --blur {
  syntax: '<length>';
  initial-value: 0px;
  inherits: true;
}

.menu-bg {
  background-color: #000000;
  background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#2b2b2b 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #2b2b2b 0.8px, #000000 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}