---
import type { ComponentProps } from "astro/types";
import { Picture } from "astro:assets";

type Props = ComponentProps<typeof Picture> & {
	banner?: boolean;
	content?: boolean;
};

let {
	banner,
	class: className = "rounded-lg",
	content,
	...props
} = Astro.props;
---

<div
	class:list={[
		"img-container",
		{
			"max-h-[inherit]": content,
			"banner-clip overflow-clip aspect-[1.625/1] relative h-auto w-full":
				banner,
		},
	]}
>
	<!-- @ts-expect-error fucking astro  -->
	<Picture
		class:list={[
			{
				"object-contain h-full": content,
				"object-cover h-full w-full": banner,
			},
			"backdrop-blur-2xl",
			className,
		]}
		densities={[1, 2]}
		formats={["avif", "webp"]}
		loading={props.priority ? "eager" : "lazy"}
		pictureAttributes={{
			style: "mask: inherit",
		}}
		{...props}
	/>
</div>
