---
import type { ComponentProps } from "astro/types";
import { Picture, getImage } from "astro:assets";

type Props = ComponentProps<typeof Picture> & {
	banner?: boolean;
	content?: boolean;
};

let {
	banner,
	class: className = "rounded-lg",
	content,
	...props
} = Astro.props;

const img = await getImage({ src: props.src, format: "jpeg" });
---

<div
	class:list={[
		"img-container in-[.full-bleed]:w-[var(--content-width)] in-[.full-bleed]:h-full",
		{
			"max-h-[inherit]": content,
			"banner-clip overflow-clip aspect-[1.625/1] relative h-auto w-full":
				banner,
		},
	]}
	style={img.options.width !== undefined && img.options.height !== undefined
		? `aspect-ratio: ${img.options.width / img.options.height};`
		: undefined}
>
	<!-- @ts-expect-error fucking astro  -->
	<Picture
		class:list={[
			{
				"object-contain h-full": content,
				"object-cover h-full w-full": banner,
			},
			"backdrop-blur-2xl in-[.full-bleed]:w-auto in-[.full-bleed]:h-full",
			className,
		]}
		densities={[1, 2]}
		formats={["avif", "webp"]}
		loading={props.priority ? "eager" : "lazy"}
		pictureAttributes={{
			style: "mask: inherit",
		}}
		{...props}
	/>
</div>
