---
import type { ImageMetadata } from "astro";
import type { ComponentProps } from "astro/types";
import { Picture, getImage } from "astro:assets";

type Props = Pick<
	ComponentProps<typeof Picture>,
	"width" | "height" | "priority" | "class" | "alt"
> & {
	src: ImageMetadata;
	banner?: boolean;
	content?: boolean;
	zoomable?: boolean;
};

let {
	banner,
	class: className = "rounded-lg",
	content,
	zoomable,
	...props
} = Astro.props;

const [hqImg, lqImg] = await Promise.all([
	getImage({ src: props.src, format: "webp", quality: "max" }),
	getImage({ src: props.src, format: "avif", quality: 1, width: 32 }),
]);

let aspectRatio: number | null = null;
if (banner) {
	aspectRatio = 1.625 / 1;
} else if (
	hqImg.options.width !== undefined &&
	hqImg.options.height !== undefined
) {
	aspectRatio = hqImg.options.width / hqImg.options.height;
}

const Element = zoomable ? "a" : "div";
---

<script>
	const onLoad = () => {
		const lazyImages = Array.from(document.querySelectorAll(".lazy-image"));
		for (const picture of lazyImages) {
			if (!(picture instanceof HTMLPictureElement)) continue;
			const img = picture.querySelector(":scope img");
			if (!(img instanceof HTMLImageElement)) continue;
			const lqipElements =
				picture.parentElement?.querySelectorAll(".lqip, .lqip-blur");
			if (!lqipElements) continue;
			if (img.complete) {
				lqipElements.forEach((el) => el.classList.add("hidden"));
			} else {
				lqipElements.forEach((el) => el.classList.remove("hidden"));
				img.addEventListener("load", () => {
					lqipElements.forEach((el) => el.classList.add("hidden"));
				});
			}
		}
	};

	document.addEventListener("astro:page-load", onLoad);
	document.addEventListener("load", onLoad);
	onLoad();
</script>

<Element
	class:list={[
		"img-container rounded-lg overflow-clip relative",
		{
			"max-h-[inherit]": content,
			"banner-clip overflow-clip relative h-auto w-full": banner,
			landscape: aspectRatio != null && aspectRatio > 1,
			portrait: aspectRatio != null && aspectRatio <= 1,
		},
	]}
	style={aspectRatio != null ? `aspect-ratio: ${aspectRatio};` : undefined}
	{...zoomable
		? { href: hqImg.src, target: "_blank", rel: "noopener noreferrer" }
		: {}}
	data-astro-prefetch={false}
>
	<Picture
		class:list={[
			{
				"object-contain h-full": content,
				"object-cover h-full w-full": banner,
			},
			"backdrop-blur-2xl in-[.full-bleed]:w-auto in-[.full-bleed]:h-full text-[0px]",
			className,
		]}
		densities={[1, 2]}
		formats={["avif", "webp"]}
		loading={props.priority ? "eager" : "lazy"}
		quality="high"
		pictureAttributes={{
			style: "mask: inherit",
			class: "relative z-[2] lazy-image",
		}}
		{...props}
	/>
	<span
		aria-hidden="true"
		class:list={[
			"absolute top-0 left-0 w-full h-full backdrop-blur-3xl z-[1] lqip-blur mask-[inherit]",
			className,
		]}></span>
	<img
		src={lqImg.src}
		alt=""
		class:list={[
			"absolute top-0 left-0 w-full h-full lqip mask-[inherit]",
			className,
		]}
		aria-hidden="true"
	/>
</Element>
