---
import type { MarkdownHeading } from "astro";
import TableOfContentsSubList from "./TableOfContentsSubList.astro";

interface Props {
	headings: MarkdownHeading[];
}

let { headings } = Astro.props;

export type NestedHeading = {
	heading?: MarkdownHeading;
	depth: number;
	children: NestedHeading[];
};

const nestedHeadings: NestedHeading[] = [];

const stack: NestedHeading[] = [{ children: nestedHeadings, depth: 0 }];

for (const heading of headings) {
	while (stack.length > 1 && stack[stack.length - 1].depth >= heading.depth) {
		stack.pop();
	}

	const parent = stack[stack.length - 1];
	const item: NestedHeading = {
		depth: heading.depth,
		heading,
		children: [],
	};

	parent.children.push(item);
	stack.push(item);
}
---

<aside class="sticky top-12 left-12 z-50 h-fit max-h-96 w-0">
	<nav
		class="max-h-full w-96 overflow-auto rounded-xl border border-cream-alt/50
			bg-cream-alt/50 p-2 text-sm backdrop-blur-3xl dark:border-golden-creamy/40
			dark:bg-golden-creamy/40"
	>
		<span class="font-semibold">Table of Contents</span>
		<TableOfContentsSubList children={nestedHeadings} depth={0} />
	</nav>
</aside>
