---
import type { NestedHeading } from "./TableOfContents.astro";

interface Props {
	children: NestedHeading[];
	depth: number;
}
let { children, depth } = Astro.props;
---

<ul class:list={{ "ml-4": depth > 0 }}>
	{
		children.map(({ children, depth, heading }) => (
			<li class="w-full">
				{heading && (
					<a
						href={`#${heading.slug}`}
						class="block w-full truncate py-0.5 transition-colors hover:text-black dark:hover:text-white"
					>
						{heading.text}
					</a>
				)}
				{Boolean(children.length) && (
					<Astro.self {children} depth={depth + 1} />
				)}
			</li>
		))
	}
</ul>
