---
import me from "$assets/me.webp";
import LazyImage from "$components/ui/LazyImage.astro";
---

<a
	class="mt-auto flex w-fit shrink-0 items-center gap-4"
	href="https://hloth.dev"
>
	<LazyImage
		src={me}
		alt="Viktor Shchelochkov"
		width={50}
		height={50}
		priority
		class="border-text rounded-full border"
	/>
	<div class="flex flex-col">
		<span class="font-display font-medium">Viktor Shchelochkov</span>
		<span class="text-alt font-mono text-sm uppercase">
			Full Stack developer
		</span>
	</div>
</a>
