---
interface Props {
	emoji: string;
	children: Element;
}
let { emoji } = Astro.props;
---

<div class="flex items-start gap-2 rounded-[10px] bg-cream-alt p-3 my-4">
	<span
		class="flex min-w-6 shrink-0 items-center justify-center pt-1 text-base"
	>
		{emoji}
	</span>
	<div
		class="callout-content min-w-0 flex-1 px-0.5 pt-[5px] pb-[3px] break-words"
	>
		<slot />
	</div>
</div>

<style>
	.callout-content {
		p:first-child {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
</style>
